<!-- breadcrumb_section - start
================================================== -->
<div class="breadcrumb_section">
    <div class="container">
        <ul class="breadcrumb_nav ul_li">
            <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li>Danh sách yêu thích</li>
        </ul>
    </div>
</div>
<!-- breadcrumb_section - end
================================================== -->
<!-- wishlist_section - start
================================================== -->
<section class="cart_section section_space">
    <div class="container">
        <div class="cart_table">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>SẢN PHẨM/DỊCH VỤ YÊU THÍCH CỦA BẠN</th>
                        <th class="text-center">TRẠNG THÁI DỊCH VỤ</th>
                        <th class="text-center">GIÁ</th>
                        <th class="text-center">XEM CHI TIẾT</th>
                        <th class="text-center">XÓA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="cart_product">
                                <img src="~/image/service/gg for education fundamental.png" alt="Getyootech - Gadgets Ecommerce Site Template">
                                <h3>Google Workspace Foundation</h3>
                            </div>
                        </td>
                        <td class="text-center"><span class="price_text text-success">Còn hàng</span></td>
                        <td class="text-center">Liên hệ trao đổi</td>
                        <td class="text-center">
                            <a href="#!" class="btn btn_gray">Xem chi tiết</a>
                        </td>
                        <td class="text-center"><button type="button" class="remove_btn"><i class="fal fa-trash-alt"></i></button></td>
                    </tr>

                    <tr>
                        <td>
                            <div class="cart_product">
                                <img src="~/image/service/gg for education standard.jpg" alt="Getyootech - Gadgets Ecommerce Site Template">
                                <h3>Google for Education Standard</h3>
                            </div>
                        </td>
                        <td class="text-center"><span class="price_text text-success">Còn hàng</span></td>
                        <td class="text-center">Liên hệ trao đổi</td>
                        <td class="text-center">
                            <a href="#!" class="btn btn_gray">Xem chi tiết</a>
                        </td>
                        <td class="text-center"><button type="button" class="remove_btn"><i class="fal fa-trash-alt"></i></button></td>
                    </tr>

                    <tr>
                        <td>
                            <div class="cart_product">
                                <img src="~/image/service/gg for education plus.jpg" alt="Getyootech - Gadgets Ecommerce Site Template">
                                <h3>Google for Education Plus</h3>
                            </div>
                        </td>
                        <td class="text-center"><span class="price_text text-success">Còn hàng</span></td>
                        <td class="text-center">Liên hệ trao đổi</td>
                        <td class="text-center">
                            <a href="#!" class="btn btn_gray">Xem chi tiết</a>
                        </td>
                        <td class="text-center"><button type="button" class="remove_btn"><i class="fal fa-trash-alt"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
