<!-- breadcrumb_section - start
================================================== -->
<div class="breadcrumb_section">
    <div class="container">
        <ul class="breadcrumb_nav ul_li">
            <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li>Danh sách đội ngũ giảng viên</li>
        </ul>
    </div>
</div>
<!-- breadcrumb_section - end
================================================== -->

<section class="blog_section section_space">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-lg-12">
                <div class="blog_split_layout">
                    <a asp-controller="Home" asp-action="DetailTeacher" class="item_image">
                        <img src="~/image/doanxuanhien/3.jpg" alt="DigComp Education - Đổi mới tương lai">
                    </a>
                    <div class="item_content">
                        <ul class="post_meta ul_li">
                            <li>22/03/2025</li>
                            <li><a>Giảng viên</a></li>
                        </ul>
                        <h3 class="item_title">
                            <a asp-controller="Home" asp-action="DetailTeacher">Anh Đoàn Xuân Hiển</a>
                        </h3>
                        <p>
                            Founder​ DigComp Edu | Google Certified Trainer
                        </p>
                        <a asp-controller="Home" asp-action="DetailTeacher" class="btn btn_gray">Xem chi tiết</a>
                    </div>
                </div>

                <div class="blog_split_layout">
                    <a asp-controller="Home" asp-action="DetailTeacher" class="item_image">
                        <img src="~/image/khiettran/1.jpg" alt="DigComp Education - Đổi mới tương lai">
                    </a>
                    <div class="item_content">
                        <ul class="post_meta ul_li">
                            <li>22/03/2025</li>
                            <li><a>Giảng viên</a></li>
                        </ul>
                        <h3 class="item_title">
                            <a asp-controller="Home" asp-action="DetailTeacher">Anh Lương Trần Ngọc Khiết</a>
                        </h3>
                        <p>
                            Thạc sĩ Khoa học máy tính | Giảng viên Khoa CNTT ĐH Sư Phạm HCM
                        </p>
                        <a asp-controller="Home" asp-action="DetailTeacher" class="btn btn_gray">Xem chi tiết</a>
                    </div>
                </div>

                <div class="blog_split_layout">
                    <a asp-controller="Home" asp-action="DetailTeacher" class="item_image">
                        <img src="~/image/lenguyenkhang/1.jpg" alt="DigComp Education - Đổi mới tương lai">
                    </a>
                    <div class="item_content">
                        <ul class="post_meta ul_li">
                            <li>22/03/2025</li>
                            <li><a>Giảng viên</a></li>
                        </ul>
                        <h3 class="item_title">
                            <a asp-controller="Home" asp-action="DetailTeacher">Anh Lê Nguyên Khang</a>
                        </h3>
                        <p>
                            Google Certified Trainer | Founder FLASH VN​​
                        </p>
                        <a asp-controller="Home" asp-action="DetailTeacher" class="btn btn_gray">Xem chi tiết</a>
                    </div>
                </div>

                <div class="pagination_wrap pt-0">
                    <ul class="pagination_nav ul_li_right">
                        <li class="active"><a href="#!">1</a></li>
                        <li><a href="#!">2</a></li>
                        <li><a href="#!">3</a></li>
                        <li class="prev_btn"><a href="#!"><i class="fa-regular fa-angle-left"></i></a></li>
                        <li class="next_btn"><a href="#!"><i class="fa-regular fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
